@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Hind Siliguri";
}

header {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 80px;
}

.contact-info {
  display: flex;
  width: 32%;
  justify-content: space-between;
}


.Support,
.address,
.phone {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}

.phone-logo,
.mail-logo,
.location-logo {
  margin-right: 14px;
}
.title {
  font-weight: 600;
  size: 18px;
  color: #9e3040;
}
.brand-name {
  font-weight: 600;
  font-size: 30px;
  color: #9e3040;
}
.nav-text {
  font-weight: 400;
  font-size: 18px;
  color: #686868;
}
.home-butten {
  font-weight: 500;
  font-size: 18px;
}
.sbutten {
  background-color: #9e3040;
  box-shadow: 0px 0px 10px rgba(158, 48, 64, 0.17);
  border-radius: 5px;
  width: 126px;
  height: 49px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: 0;
  transition: 0.3s;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 80px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.butten-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.3;
}
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.log {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px 5px 10px;
  transition: 0.3s;
}
.main-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(Untitled-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}
.beau-text {
  padding: 0 80px;
  font-weight: 600;
  font-size: 64px;
  color: #fff;
  line-height: 117.1%;
}
.over-text {
  padding: 0 80px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.shop-now {
  font-weight: 600;
  font-size: 18px;
  color: #9e3040;
  width: 187px;
  height: 49px;
  margin: 0 80px;
  border: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.3s;
}
.shop-now:hover {
  cursor: pointer;
  background: #9e3040;
  color: #fff;
}
.sbutten:hover {
  cursor: pointer;
  background: #fff;
  color: #9e3040;
}
.log:hover {
  cursor: pointer;
  background: #e3e3e3;
  transform: scale(1.18);
}

.butten-nav:hover {
  cursor: pointer;
}
.brand-name:hover{
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  max-width: 1300px;
  padding: 0 80px;
}
.benefit {
  display: flex;
  justify-content: space-around;
  margin: 70px 260px;
}
.Featured-Product {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-top: 80px;
}
.Explore-More {
  font-weight: 600;
  font-size: 58px;
  color: #ffffff;
  background-image: url(image\ 14.png);
  width: 548px;
  height: 707px;
  border: #fff;
  border-radius: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  padding-top: 195px;
}
.Explore-More:hover {
  cursor: pointer;
}
.pr-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-left: 14px;
}
.first {
  background: #f3f5f6;
  border-radius: 10px;
  text-align: center;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15%;
}
.sec2-img{
  margin: 0 17px;
}
.ad-butten {
  background: #0c0c0c;
  border-radius: 5px;
  color: #fff;
  width: 137px;
  height: 42px;
  font-family: "Hind Siliguri";
  font-size: 16px;
  border: 0;
  transition: 0.3s;
}
.ad-butten:hover {
  cursor: pointer;
  background: #9e3040;
  transform: scale(1.02);
}
.sec2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 70px;
  margin-left: 2rem;
}
article {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}
.SHOW-MORE-btn {
  font-weight: 600;
  font-size: 18px;
  width: 162px;
  height: 49px;
  background: #9e3040;
  box-shadow: 0px 0px 10px rgba(158, 48, 64, 0.17);
  border-radius: 5px;
  color: #ffffff;
  margin-top: 40px;
  border: 0;
  transition: 0.3s;
}
.Organic {
  background: #f3f5f6;
  border-radius: 30px;
  padding: 76px 30px 40px 30px;
  align-self: center;
  width: 35%;
}
.org-head {
  font-weight: 700;
  font-size: 36px;
  color: #9e3040;
}
.org-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
}
.org-butten {
  background: #232323;
  box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.17);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  width: 187px;
  height: 49px;
  margin-top: 37px;
  border: 0;
  transition: 0.3s;
}
.org-butten:hover{
  cursor: pointer;
  color: #fff;
  background: #9e3040;
}

.org-img {
  border-radius: 30px;
}
.article2 {
  display: flex;
  flex-direction: row;
  margin: 100px 0 0 0;
  justify-content: space-between;
}
.SHOW-MORE-btn:hover {
  cursor: pointer;
  background: #fff;
  color: #9e3040;
  transform: scale(1.01);
}
.Trending {
  font-weight: 600;
  font-size: 36px;
  color: #232323;
  margin-top: 60px;
  margin-bottom: 23px;
  text-align: center;
}
.Trending-Product {
  display: flex;
  justify-content: space-between;
}
.second {
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 410px;
}
.second-img {
  border-radius: 10px;
}
.second-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #9e3040;
  padding: 16px 0 13px 18px;
}
.second-text {
  font-weight: 400;
  font-size: 17px;
  color: #303030;
  line-height: 29px;
  padding-left: 18px;
  padding-bottom: 2rem;
}
.big-red {
  background-color: #9e3040;
  border-radius: 30px;
  display: flex;
  height: 314px;
}
.big-text {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  align-self: center;
}

.big-vec1 {
  opacity: 0.7;
  padding-left: 64px;
  padding-top: 30px;
  align-self: flex-start;
}
.big-vec2 {
  opacity: 0.7;
  transform: rotate(180deg);
  padding-left: 64px;
  padding-top: 30px;
  align-self: flex-end;
}
.Gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 31% 38% 31%;
  column-gap: 2rem;
  row-gap: 2rem;
}

.item:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.item:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.item:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  width: 100%;
  height: 100%;
}
.item:nth-child(4) {
  grid-row: 1;
  grid-column: 3;
  width: 100%;
  height: 100%;
}
.item:nth-child(5) {
  grid-row: 2;
  grid-column: 3;
  width: 100%;
  height: 100%;
}
.sub-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #303030;
  margin-bottom: 21px;
}
.email {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.email-btn {
  box-shadow: 0px 0px 10px rgba(158, 48, 64, 0.17);
  border-radius: 5px;
  width: 162px;
  height: 49px;
  background: #9e3040;
  color: #fff;
  border: 0;
}
.email-text {
  border: 1px solid rgba(158, 48, 64, 0.3);
  border-radius: 5px;
  width: 423px;
  height: 48px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #656565;
  padding-left: 23px;
}
.email-btn:hover {
  cursor: pointer;
}
footer {
  display: flex;
  background: #f3f5f6;
  justify-content: space-between;
  padding: 30px 80px;
}
.footer-head {
  color: #232323;
  font-weight: 600;
  font-size: 30px;
}
.footer-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  color: #303030;
}
.footer-text2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  color: #303030;
  display: flex;
}
.footer-parts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
