* {
  margin: 0px;
  padding: 0px;
  font-family: "Hind Siliguri";
}

header {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 80px;
  position: relative;
}

.contact-info {
  display: flex;
}

.contact-info > div {
  margin: 0 63px;
}

.Support,
.address,
.phone {
  display: flex;
  font-weight: 400;
  size: 14px;
}

.title {
  font-weight: 600;
  size: 18px;
  color: #9e3040;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
